@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);

}
.calculator{
    border: 4px solid rgb(187, 70, 28);
    padding:30px;
    height: 600px;
    border-radius: 23px;
    background: transparent;
    box-shadow : 0px 3px 15px rgba(159, 99, 51, 0.5);

}
input{
    width:350px;
    border:none;
    padding: 20px;
    margin: 12px;
    background: transparent;
    box-shadow : 0px 3px 15px rgba(244, 242, 241, 0.1);
    text-align: right;
    font-size: 40px;
    cursor:text;
    color: white;
}
input::placeholder{
    color: rgb(223, 227, 231);
    font-size: 50px;
}
button{
    border:none;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 65px;
    height: 65px;
    margin:10px 15px;
    border-radius: 30%;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor:pointer;
}
.equalbutton{
    background-color: rgb(207, 135, 42);
}
.operator{
    color: rgb(37, 236, 193);
}

.calculator div{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 522px) {
    input{
        width: 290px;
    }
    button{
        width: 60px;
    }
}